<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="HabilInfoCS" value="Data Source=note-vaio\SQLEXPRESS2016;Initial Catalog=HABIL_INFO_TESTE;User ID=sa;Password=habil"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
