<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="HabilInfoCS" value="Data Source=192.168.0.18\SQLSERVER2008;Initial Catalog=FABESUL_ERP_WEB;User ID=sa;Password=habil"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
